.container {
	display: flex;
	flex-direction: column;
}

.number {
	align-self: center;
}

.list {
	width: 616px;
	padding: 0 24px 0 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-height: 312px;
	overflow-y: auto;
}

.list::-webkit-scrollbar {
	width: 8px;
	background-color: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
	background-color: #8585ad;
	border: 3px solid #8585ad;
}

.listItem {
	display: flex;
	align-items: center;
	gap: 24px;
}

.priceContainer {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.infoContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.orderCost {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.image {
	width: 64px;
	height: 64px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #801ab2;
	box-sizing: border-box;
	background: black;
}

.done {
	color: #00cccc;
}
