.item {
	list-style-type: none;
	position: relative;
	cursor: grab;
	transition: ease-in-out, transform .5s, opacity .5s;
}

.itemCurrency {
	display: flex;
	justify-content: center;
	align-items: center;
}

.itemCaption {
	text-align: center;
}

.item:hover {
	transform: scale(.95);
	opacity: .5;
}

.link {
	text-decoration: none;
	color: unset;
}

@keyframes scale {
	from  {
		transform: scale(1.05);
	}
	to {
		transform: scale(0.95);
	}

}
