.main {
	max-width: calc(1280px/2);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px auto 0;
	gap: 20px;
}

.link {
	text-decoration: none;
	transition: opacity .4s ease-out;
	color: #4C4CFF;
}

.link:hover {
	opacity: .6;
}