.tabs {
	display: flex;
}

.container {
	margin-top: 40px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: calc(100vh - 320px);
}

.container::-webkit-scrollbar {
	width: 8px;
	background-color: #2F2F37;
}

.container::-webkit-scrollbar-thumb {
	background-color: #8585AD;
	border: 3px solid #8585AD;
}

