.header {
	max-width: 1920px;
	background: #1C1C21;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	margin: 40px;
}

.nav {
	display: flex;
}

.logo {
	justify-self: center;
}

.menuList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.menuItem {
	display: flex;
	align-items: center;
}

.profile {
	composes: menuItem;
}